{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {{ include('account/_nav_account.html.twig') }}

    <br/>
 
    <div class="container">
        <h1>Mon compte</h1>
    </div>


</div>
{% endblock %}
