{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

<div class="example-wrapper">

    {{ include('account/_nav_account.html.twig') }}

    <br/>
 
    <div class="container">
        <h1>Mon compte</h1>

        <h2> Commandes passé </h2><br/>
        <p> 
        Mes commandes en cours : <br/>
        </p>
        <h2> Commandes passé </h2><br/>
        <br/>

    </div>


</div>
{% endblock %}
