/*
CSS for Sygma Web Service


1.General
2.home
*/

/*** 0. General ***/
body{
  min-height: 100vh;
}
html{
  margin: 0;
  padding: 0;
}
a{
  color: rgba(69, 187, 69, 0.753);
}
a:hover{
  color: black;
  text-decoration: none;
}
.sygma-navbar{
  background-color: rgba(69, 187, 69, 0.753)!important;
}
.sygma-navbar-sub{
  background-color: rgba(109, 237, 109, 0.644)!important;
  text-align: center;
}
.sygma-navbar-sub ul{
  margin-left: 40%;
}
.sygma-container{
  width: 80%;
  margin-left: 10%;
  
}
.nav-item{
  list-style: none!important;
}
/*** 1. General ***/

/*** 2. Home    ***/
.service-container{
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.service-container div{
  margin-left: 6%;
  margin-bottom: 4%;
}

/*** X. Service grid ***/
.card{
  overflow: hidden;
  padding-bottom: 0;
  transition-duration: 0.3s;
}
.card:hover{
  transform: translateY(-4px);
  transition-duration: 0.3s;
}
.services a{
  color: black;
}
.service .card-body{
  margin: 0;
  padding: 0;
}
.service .card-title{
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5%;
  padding-left: 5%;
}
.service .card-text{
  color: rgba(15,15,15,1);
  font-weight: 200;
  padding-left: 5%;
}
.service h6{/* price */
  margin-bottom: 8%;
  padding-right: 15%;
  text-align: end;
  font-size: 1.5em;
} 
.call-to-action{
  width: 100%;
  margin: 0!important;
  padding: 15px;
  background-color: rgba(109, 237, 109, 0.644);
  color: black;
}
.call-to-action:hover{
  transition-duration: 0.4s;
  background-color: rgba(15, 73, 15, 0.644);
  color:antiquewhite;

}



/*** 3. Account ***/
.account-container{
  border: 1px solid rgba(69, 187, 69, 0.753);
  padding: 4%;
  display: flex;
  flex-direction: row;
}
.account-info{
  width: 30%;
}
.account-service{
  width: 70%;
}
.info-account-user{
  margin: 0;
  padding: 0;
  color: gray;
}


/*** 4. Footer ***/
footer{
  background-color: rgba(69, 187, 69, 0.753);
  height: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
}
footer div{
  color: white;
  font-size: 1.2em;
  margin-left: 2%;
  margin-right: 2%;
}
footer li{
  text-decoration: none;
  list-style: none;
}
.last-footer{
  text-align: center;
  background-color: rgba(15,15,15,1);
  color: white;
  width: 100%;
  margin-bottom: 0;
}