{% extends 'base.html.twig' %}

{% block title %} Sygma {% endblock %}


{% block body %}

    <div class="container">

        nous sommes désolé, le paiement n'a pas pu etre effectuer.</br> 

        Veuillez réessayer.
    
    </div>
    

{% endblock %}