{% extends 'base.html.twig' %}

{% block title %}Initialiser une commande{% endblock %}

{% block body %}
  <div class="container">
    <h1>Commande en cours </h1>
    <p> Attendez les instructions </p>
  </div>
{% endblock %}
