{% extends 'base.html.twig' %}

{% block title %} Sygma {% endblock %}


{% block body %}

    <div class="container">

        Felicitation votre paiement à bien été effectuer. </br> 
    
    </div>
    

{% endblock %}